################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/CastleFactoryExample/v15
/CastleFactoryExample/bin/Debug
/CastleFactoryExample/obj/Debug
